{:paths ["src" "test" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.741"
                                   :exclusions [com.google.javascript/closure-compiler-unshaded
                                                org.clojure/google-closure-library
                                                org.clojure/google-closure-library-third-party]}
        org.clojure/test.check {:mvn/version "1.0.0"}
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20200406"}
        org.clojure/google-closure-library {:mvn/version "0.0-20191016-6ae1f72f"}
        org.clojure/google-closure-library-third-party {:mvn/version "0.0-20191016-6ae1f72f"}
        org.clojure/tools.namespace {:mvn/version "1.0.0"}
        thheller/shadow-cljs {:mvn/version "2.9.3"}}}

